@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.popup-container {
  @apply w-full min-h-screen text-white fixed z-10 left-0 right-0 flex items-center justify-center flex-col;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-container .content-container {
  @apply bg-gray-600 max-h-[500px] h-full max-w-[600px] w-full p-4 rounded-md;
}
